# Example Caddyfile to use with https://caddyserver.com
#
# This assumes you have a cookie based login area running at
# 127.0.0.1:8999/provider/simple, konnectd running on 127.0.0.1:8777 and the
# example backend running on 127.0.0.1:8088.

0.0.0.0:8843
errors stderr
log stdout

tls self_signed
root ./www

# kwmserverd websocket
proxy /api/v1/websocket 127.0.0.1:8778 {
	websocket
}

# kwmserverd janus compat api
proxy /janus 127.0.0.1:8778 {
	websocket
}

# kwmserverd
proxy /api/v1 127.0.0.1:8778
