# Example Caddyfile to use with https://caddyserver.com
#
# This assumes you have kwmserverd running on 127.0.0.1:8778.

0.0.0.0:8843 {
	errors stderr
	log stdout

	tls self_signed

	# kwmserverd websocket API
	proxy /api/v1/websocket 127.0.0.1:8778 {
		websocket
	}

	# kwmserverd API
	proxy /api/v1 127.0.0.1:8778

	# kwmserverd admin API - internal only
	internal /api/v1/admin
}
