<!doctype html>
<html>
<head>
	<title>Simple Call</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.2/css/bulma.min.css" integrity="sha256-d+mgRrjtsPCjrT7ltuB1sZ2VybUn1Xgdf8piVG/Va/k=" crossorigin="anonymous" />
    <link rel="stylesheet" href="common.css" />
	<link rel="stylesheet" href="simple-call.css" />
</head>
<body>
<div id="app" v-cloak>

<div class="modal" v-if="!!error" v-bind:class="{ 'is-active': !!error}">
	<div class="modal-background"></div>
	<div class="modal-content">
		<div class="notification is-danger">
			<button class="delete" v-on:click="closeErrorModal"></button>
			<p>{{ error.code }}<span v-if="error.msg"> : {{ error.msg }}</span></p>
		</div>
	</div>
</div>

<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Simple call
      </h1>
      <h2 class="subtitle">
        This is a simple web app to test WebRTC one to one calls
      </h2>
    </div>
  </div>
</section>

<section class="section">
<div class="container">
	<h3 class="subtitle">Call by ID</h3>

    <div class="field">
		<label class="label">Source</label>
		<div class="control is-expanded">
			<input class="input" type="text" v-model="source" :disabled="(connected || reconnecting) ? true : false">
		</div>
	</div>
	<div class="field">
		<label class="label">Target</label>
		<div class="control is-expanded">
			<input class="input" type="text" v-model="target" :disabled="peercall ? true : false">
		</div>
	</div>

	<div class="field">
	    <button class="button is-primary" v-on:click="connect" v-if="!connected && !reconnecting">Connect</button>
	    <button class="button is-info" v-on:click="call" v-if="connected && !peercall && !peercallPending">Call</button>
		<button class="button is-success" v-on:click="accept" v-if="peercallPending">Accept</button>
		<button class="button is-danger" v-on:click="reject" v-if="peercallPending">Reject</button>
		<button class="button is-danger" v-on:click="hangup" v-if="peercall">Hangup</button>
	</div>
</div>
</section>

<section class="section">
<div class="container field is-grouped is-grouped-multiline">
	<span class="tag is-info" v-if="connecting">connecting</span>
	<span class="tags has-addons" v-if="connected">
		<span class="tag is-success">connected</span>
		<span class="tag" v-if="latency">Latency {{ latency }}ms</span>
	</span>
	<span class="tag is-warning" v-if="!connected && reconnecting">reconnecting</span>
	<span class="tag is-success" v-if="peercall">in-call</span>
</div>
</section>

<div id="remote-video-container" v-show="peercall && !!remoteStream">
	<streamed-video v-bind:stream="remoteStream"></streamed-video>
</div>
<div id="local-video-container" v-show="!!localStream">
	<streamed-video v-bind:stream="localStream" muted="true"></streamed-video>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js" integrity="sha256-Gs0UYwrz/B58FsQggzU+vvCSyG/pewemP4Lssjzv8Ho=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.3.4/vue-resource.min.js" integrity="sha256-OZ+Xidb5+lV/saUzcfonHJQ3koQncPy0hLjT8dROdOU=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/5.0.3/adapter.min.js" integrity="sha256-c3XAaufWyP6L9V7UyZXDxhdSHFcpHbT2GcQC7zFiIQw=" crossorigin="anonymous"></script>
<script src="../kwm/dist/kwm.js"></script>
<script src="common.js"></script>
<script src="simple-call.js"></script>

</div> <!-- id=app -->
</body>
</html>
